apache-airflow[gcp,postgres]==2.6.3         # similar to `composer-2.6.0-airflow-2.6.3`
google-api-core==2.14.0                      # matches `composer-2.6.0-airflow-2.6.3`
google-cloud-bigquery==3.13.0               # matches `composer-2.6.0-airflow-2.6.3`
google-cloud-storage==2.13.0                 # matches `composer-2.6.0-airflow-2.6.3`